.wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.page-list {
    position: relative;
}
.page {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.touch-arrow {
    animation: touchstyle-arrow-animate 2s infinite;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: 15px;
    width: 30px;
}
.logo-360 img {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 999;
    display: none;
}
.logo-xy img {
    position: fixed;
    right: 20px;
    bottom: 18px;
    z-index: 999;
    display: none;
}
.music img {
    position: fixed;
    right: 61px;
    top: 127px;
    z-index: 999;
    display: none;
}
.music.play img {
    -webkit-animation: music_play 4s linear infinite;
}
@-webkit-keyframes music_play {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.pending {
    font-size: 2rem;
}
.page1 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p1-container {
    position: relative;
    height: inherit;
}
.p1-container .p1-sec1 img {
    width: 100rem;
    position: absolute;
    top: -91rem;
    left: -20rem;
    display: none;
}
.p1-container .p1-sec2 img {
    position: absolute;
    left: 50%;
    margin-left: -9rem;
    top: 30rem;
    opacity: 0;
}
.p1-container .p1-sec3 img {
    position: absolute;
    top: 44rem;
    opacity: 0;
}
.p1-container .p1-sec4 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin-left: -9rem;
    text-align: center;
    width: 18rem;
    cursor: pointer;
}
.p1-container .p1-sec4 img {
    width: 1rem;
    opacity: 0;
}
.page11 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p11-container {
    position: relative;
}
.p11-container .p11-sec1 img {
    position: absolute;
    top: -30rem;
    left: -32rem;
    opacity: 0;
}
.p11-container .p11-sec2 img {
    position: absolute;
    top: 23rem;
    left: -34rem;
    opacity: 0;
}
.p11-container .p11-sec3 img {
    position: absolute;
    top: 53rem;
    left: -36rem;
    opacity: 0;
}
.p11-container .p11-sec4 img {
    position: absolute;
    top: -31rem;
    right: -31rem;
    opacity: 0;
}
.p11-container .p11-sec5 img {
    position: absolute;
    top: 12rem;
    right: 20rem;
    opacity: 0;
    width: 90%;
    z-index: 100;
}
.p11-container .p11-sec6 img {
    position: absolute;
    top: 109rem;
    opacity: 0;
}
.p11-container .p11-sec7 img {
    position: absolute;
    top: 12rem;
    left: 32rem;
    opacity: 0;
}
.p11-container .p11-sec8 img {
    position: absolute;
    top: 69rem;
    right: -1rem;
    opacity: 0;
}
.p11-container .p11-sec9 {
    cursor: pointer;
}
.p11-container .p11-sec9 img {
    position: absolute;
    top: 113rem;
    left: 24rem;
    opacity: 0;
}
/*GJ page3 css*/
.page5 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.page5 img {
    opacity: 0;
}
.p5_top {
    position: relative;
    top: 2.1rem;
    left: 3.7rem;
}
.p5_top_left {
    position: absolute;
    top: 0;
    left: 0;
}
.p5_top_left_png {
    height: 31rem;
}
.p5_top_right {
    position: absolute;
    top: 0;
    right: 7.2rem;
}
.p5_top_right_png {
    height: 31rem;
}
.p5_top_title {
    position: absolute;
    top: -1.7rem;
    right: 5.1rem;
}
.p5_top_title_png {
    height: 12rem;
}
.p5_center {
    position: relative;
    top: 34.5rem;
    left: 3.9rem;
}
.p5_center_all {
    position: absolute;
    top: 0;
    left: 0;
}
.p5_center_spacile {
    position: absolute;
    top: 0;
    left: 0;
}
.p5_center_all_png {
    height: 36.2rem;
}
.p5_center_spacile_png {
    height: 34rem;
}
.p5_center_title {
    position: absolute;
    top: -8rem;
    right: 7.1rem;
}
.p5_center_title_png {
    height: 20rem;
}
.p5_bottom {
    position: relative;
    top: 63.2rem;
    left: 3.9rem;
    height: 46rem;
}
.p5_bottom_right {
    position: absolute;
    top: 0.5rem;
    right: 7.4rem;
}
.p5_bottom_right_png {
    height: 37rem;
}
.p5_bottom_title {
    position: absolute;
    top: -4.5rem;
    left: 0rem;
}
.p5_bottom_title_png {
    height: 42rem;
}
.p5_arrow {
    position: absolute;
    left: 23rem;
    bottom: 1rem;
    cursor: pointer;
}
@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
}
@-moz-keyframes shake {
    0%,
    100% {
        -moz-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(10px);
    }
}
.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 1s;
    -moz--name: shake;
    -moz-animation-duration: 1s;
}
@keyframes title-anim {
    0% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes title-anim {
    0% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes talk-anim {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@keyframes talk-anim {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.page3 {
    background: #fff;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.page3 .title-scale-anim {
    animation: title-anim 1s;
    -webkit-animation: title-anim 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.page3 .talk-scale-anim {
    animation: talk-anim 1s;
    -webkit-animation: talk-anim 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.page3 .p3-game {
    height: 36.5%;
    width: 94%;
    background-color: #ccc;
    position: absolute;
    left: 100%;
    background: url(http://p7.qhimg.com/d/inn/f2733065/img/page3/p3-game.png) no-repeat;
}
.page3 .p3-dong {
    position: absolute;
    top: 37.5%;
    width: 40%;
    left: -100%;
    height: 26%;
    background: url(http://p9.qhimg.com/d/inn/f2733065/img/page3/p3-dong.png) no-repeat;
}
.page3 .p3-handsome {
    position: absolute;
    top: -98px;
    right: -180px;
}
.page3 .p3-comeon {
    position: absolute;
    top: 64%;
    width: 40%;
    left: -100%;
    height: 38%;
    background: url(http://p2.qhimg.com/d/inn/f2733065/img/page3/p3-comeon.png) no-repeat;
}
.page3 .p3-addoil {
    position: absolute;
    left: 20%;
}
.page3 .p3-dragon {
    width: 60%;
    height: 70%;
    position: absolute;
    margin-right: 3%;
    left: 100%;
    top: 37.5%;
    background: url(http://p3.qhimg.com/d/inn/f2733065/img/page3/p3-dragon.png) no-repeat;
    background-size: contain;
}
.page-5 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p5-Container {
    position: relative;
    height: inherit;
    width: 57rem;
    left: 50%;
    margin-left: -28.5rem;
}
.p5-Container .imgExtend {
    position: absolute;
    width: 57rem;
}
.p5-Container .p5-sec1 img {
    top: 2rem;
    left: 25rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p5-Container .p5-sec2 img {
    top: 32rem;
    left: -20rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p5-Container .p5-sec3 img {
    top: 65rem;
    left: 25rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p5-Container .p5-word1 {
    position: absolute;
    left: 36rem;
    top: 2rem;
    text-align: center;
}
.p5-Container .p5-word1 img {
    z-index: 20;
    width: 0;
}
.p5-Container .p5-word2 {
    position: absolute;
    top: 63rem;
    left: 17rem;
    text-align: center;
}
.p5-Container .p5-word2 img {
    z-index: 20;
    width: 0;
}
.page-6 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p6-Container {
    position: relative;
    height: inherit;
    width: 57rem;
    left: 50%;
    margin-left: -28.5rem;
}
.p6-Container .imgExtend {
    position: absolute;
    width: 57rem;
}
.p6-Container .p6-sec1 img {
    top: 2rem;
    left: 25rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
    width: 36rem;
}
.p6-Container .p6-sec2 img {
    top: 32rem;
    left: -20rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p6-Container .p6-sec3 img {
    top: 66rem;
    left: 25rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p6-Container .p6-word1 {
    position: absolute;
    left: 36rem;
    top: 2rem;
    text-align: center;
}
.p6-Container .p6-word1 img {
    z-index: 20;
    width: 0;
}
.p6-Container .p6-word2 {
    position: absolute;
    top: 63rem;
    left: 17rem;
    text-align: center;
}
.p6-Container .p6-word2 img {
    z-index: 20;
    width: 0;
}
@keyframes title-anim {
    0% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes title-anim {
    0% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes talk-anim {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@keyframes talk-anim {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.page6 {
    background: #fff;
    width: 100%;
    position: absolute;
    z-index: 10;
}
.page6 .title-scale-anim {
    animation: title-anim 1s;
    -webkit-animation: title-anim 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.page6 .talk-scale-anim {
    animation: talk-anim 1s;
    -webkit-animation: talk-anim 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.page6 .p6-question-left {
    height: 36.5%;
    top: 1%;
    width: 75%;
    background-color: #ccc;
    position: absolute;
    left: 100%;
    background: url(http://p9.qhimg.com/d/inn/f2733065/img/page6/p6-question-left.png) no-repeat;
}
.page6 .p6-question-right {
    height: 40.5%;
    top: 1%;
    width: 34%;
    background-color: #ccc;
    position: absolute;
    left: 100%;
    background: url(http://p9.qhimg.com/d/inn/f2733065/img/page6/p6-question-right.png) no-repeat;
}
.page6 .p6-classroom {
    position: absolute;
    top: 32%;
    width: 96%;
    left: -100%;
    height: 46%;
    background: url(http://p2.qhimg.com/d/inn/f2733065/img/page6/p6-classroom.png) no-repeat;
    background-size: 100%;
}
.page6 .p6-answer-left {
    position: absolute;
    top: 71.5%;
    width: 36%;
    left: -100%;
    height: 27%;
    background: url(http://p2.qhimg.com/d/inn/f2733065/img/page6/p6-answer-left.png) no-repeat;
}
.page6 .p6-answer-middle {
    position: absolute;
    top: 67.5%;
    width: 44%;
    left: -100%;
    height: 31%;
    background: url(http://p3.qhimg.com/d/inn/f2733065/img/page6/p6-answer-middle.png) no-repeat;
}
.page6 .p6-answer-right {
    position: absolute;
    top: 65%;
    width: 29%;
    left: -100%;
    height: 33.5%;
    background: url(http://p2.qhimg.com/d/inn/f2733065/img/page6/p6-answer-right.png) no-repeat;
}
.page6 .p6-title {
    position: absolute;
    top: 0;
    right: 5em;
}
.page6 .p6-question {
    position: absolute;
    top: 0;
    left: 30em;
    z-index: 100;
}
.page6 .p6-answer {
    position: absolute;
    left: 16em;
    z-index: 100;
}
.page8 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p8-container {
    position: relative;
    height: inherit;
    width: 57rem;
    left: 50%;
    margin-left: -28.5rem;
}
.p8-container .imgExtend {
    position: absolute;
    width: 57rem;
}
.p8-container .p8-sec1 img {
    top: 2rem;
    left: 25rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p8-container .p8-sec2 img {
    top: 37rem;
    left: -20rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p8-container .p8-sec3 img {
    top: 70rem;
    left: 25rem;
    opacity: 0;
    position: absolute;
    width: 57rem;
}
.p8-container .p8-word1 {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    text-align: center;
}
.p8-container .p8-word1 img {
    z-index: 20;
    width: 0;
}
.p8-container .p8-word2 {
    position: absolute;
    top: 9.5rem;
    left: 39rem;
    text-align: center;
}
.p8-container .p8-word2 img {
    z-index: 20;
    width: 0;
}
.p8-container .p8-word3 {
    position: absolute;
    top: 67rem;
    text-align: center;
    left: 15rem;
}
.p8-container .p8-word3 img {
    z-index: 20;
    width: 0;
}
.page9 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p9-container {
    position: relative;
    height: inherit;
}
.p9-container .pic-box img {
    position: absolute;
    width: 56rem;
    left: 50%;
    top: 50%;
    margin-left: -28rem;
    margin-top: -51rem;
}
.p9-container .pic-box .p9-zoom1 {
    z-index: 20;
}
.p9-container .pic-box .p9-zoom2 {
    z-index: 25;
    display: none;
}
.p9-container .pic-box .p9-zoom3 {
    z-index: 30;
    display: none;
}
.p9-container .p9-person {
    z-index: 40;
    position: absolute;
    bottom: 4rem;
    width: 0;
    left: 50%;
    margin-left: -20rem;
}
@-webkit-keyframes outin {
    0% {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0.2;
    }
    25% {
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0.4;
    }
    50% {
        -webkit-transform: scale(1, 1);
        opacity: 0.6;
    }
    75% {
        -webkit-transform: scale(0.75, 0.75);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}
@-webkit-keyframes lear {
    0% {
        -webkit-transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}
@-webkit-keyframes in_shake {
    /*0%   {
      -webkit-transform: rotate(0deg);
    }*/
    0% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes circle_rotate_small {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes circle_rotate_big {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.page10 {
    background: #ffffff;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    z-index: 10;
}
.p10-container {
    position: relative;
}
.p10-container .p10-sec3 img {
    position: absolute;
    top: 7rem;
    opacity: 1;
    left: 14rem;
    width: 34rem;
    z-index: 100;
}
.p10-container .p10-sec3 img.animation {
    -webkit-animation: outin 1.5s ease-in-out 1;
}
.p10-container .p10-sec4 img {
    position: absolute;
    top: 7rem;
    opacity: 1;
    width: 30rem;
    top: 70rem;
    left: 50%;
    margin-left: -15rem;
    z-index: 500;
}
.p10-container .p10-sec1 img {
    width: 16rem;
    position: absolute;
    top: 91rem;
    left: 3rem;
    display: block;
    margin-left: 8rem;
    left: 50%;
}
.p10-container .p10-sec1 img.animation {
    -webkit-animation: circle_rotate_big 4s linear infinite;
}
.p10-container .p10-sec0 img {
    width: 16rem;
    position: absolute;
    top: 1rem;
    left: -2rem;
    display: block;
}
.p10-container .p10-sec0 img.animation {
    -webkit-animation: circle_rotate_big 4s linear infinite;
}
.p10-container .p10-sec0-bgc img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: block;
    z-index: -1;
}
.p10-container .p10-sec0-linear img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: block;
    z-index: 100;
}
.p10-container .p10-sec0-linear img.animation {
    -webkit-animation: lear 1s ease-in-out 1;
}
.p10-container .p10-sec0-share img {
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 900;
    display: none;
}
.p10-container .p10-sec2 img {
    position: absolute;
    top: 84rem;
    opacity: 1;
    width: 12rem;
    left: 50%;
    margin-left: 1rem;
}
.p10-container .p10-sec2 img.animation {
    -webkit-animation: circle_rotate_small 3s linear infinite;
}
.p10-container .p10-sec-add img {
    position: absolute;
    top: 53rem;
    width: 30rem;
    left: 50%;
    margin-left: -15rem;
    display: none;
}
.p10-container .p10-sec5 {
    position: absolute;
    top: 98rem;
    left: 50%;
    margin-left: -7rem;
    text-align: center;
    width: 14rem;
}
.p10-container .p10-sec5 img {
    width: 1rem;
    opacity: 1;
}
