.wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.page-list {
  position: relative;
}
.page {
  background: #ffffff;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  z-index: 10;
}
.touch-arrow {
  animation: touchstyle-arrow-animate 2s infinite;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: 15px;
  width: 30px;
}