.page7 {
  background: #ffffff;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  z-index: 10;
}
.p7-container {
  position: relative;
  height: inherit;
  .imgExtend {
    position: absolute;
    width: 57rem;
    left: 50%;
    margin-left: -28.5rem;
  }
  .p7-sec1 img {
    top: 2rem;
    .imgExtend;
  }
  .p7-sec2 img {
    top: 34rem;
    .imgExtend;
  }
  .p7-sec3 img {
    top: 70rem;
    .imgExtend;
  }
  .p7-word1 {
    position: absolute;
    left: 23rem;
    top: 1rem;
    img {
      z-index: 20;
    }
  }
  .p7-word2 {
    position: absolute;
    top: 32rem;
    left: 20rem;
    img {
      z-index: 20;
    }
  }
  .p7-word3 {
    position: absolute;
    top: 69rem;
    left: 31rem;
    img {
      z-index: 20;
    }
  }
}