.page-add1 {
  background: url("http://p6.qhimg.com/d/inn/a5e23087/9-bg.jpg") no-repeat left top;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  background-position: -38px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
