.page-add1 {
  background: #ffffff;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.pa1-sec1 img {
  top: 1rem;
  left: 2rem;
  width: 57rem;
  position: absolute;
}
.pa1-sec2 img {
  top: 25.5rem;
  left: 2rem;
  width: 28.5rem;
  position: absolute;
}
.pa1-sec3 img {
  top: 26rem;
  left: 31rem;
  width: 28rem;
  position: absolute;
}
.pa1-sec4 img {
  top: 65rem;
  left: 2rem;
  width: 57rem;
  position: absolute;
}
.pa1-word1 {
  left: 3rem;
  top: 1rem;
  position: absolute;
}
.pa1-word2 {
  left: 42rem;
  top: 29rem;
  position: absolute;
}
.pa1-word3 {
  left: 8rem;
  top: 66rem;
  position: absolute;
}
